/*

!.bootstrap

!alacritty
!btop
!cmus
!davmail
davmail/davmail.properties
!despell
!dunst
!fd
!hypr
!git
!gnupg
!khal
!latexmk
!msmtp
!neomutt
!nnn
!nvim
nvim/lazy-lock.nvim
nvim/lazyvim.json
!qmk
!rofi
!systemd
systemd/user/default.target.wants
systemd/user/sockets.target.wants
systemd/user/timers.target.wants
!tmux
tmux/sessions
!user-dirs.dirs
!vdirsyncer
!waybar
!wlogout
!yay
!zathura
!zsh

!isyncrc
!pam-gnupg

!README.md
!.gitignore
!english-words
