/*

!.bootstrap

!alacritty
!btop
!cmus
!davmail
!despell
!dunst
!fd
!hypr
!git
!gnupg
!gtk-3.0
!gtk-4.0
!khal
!latexmk
!msmtp
!neomutt
!nnn
!nvim
nvim/lazy-lock.nvim
nvim/lazyvim.json
!rofi
!systemd
!tmux
!vdirsyncer
!waybar
!wlogout
!yay
!zathura
!zsh

!isyncrc
!pam-gnupg
!gtkrc-2.0

!README.md
!.gitignore
!english-words
