[Unit]
Description=Mailbox synchronization service using isync/mbsync
Requires=davmail.service
After=davmail.service

OnSuccess=mu-index.service
OnFailure=mu-index.service

[Service]
Type=oneshot
Environment=GNUPGHOME=/home/jkorbmacher/.config/gnupg
StandardOutput=null
StandardError=null
ExecCondition=ping -c 1 -W 1 8.8.8.8 
ExecStart=/usr/bin/mbsync uu lm gmail

[Install]
WantedBy=default.target
